@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&subset=korean');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

a {
    text-decoration: none;
    color: black;
}
